* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #249064 0%, #b8cd73 49%, #ffffff 100%);
  height: 100svh;
  display: grid;
  place-content: center;
}

img {
  margin: 0 auto;
  height: 270px;
  object-fit: contain;
  background-color: #248290;
  padding: 40px;
  border-radius: 40px;
  margin-bottom: 30px;
}

p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  color: #248290;
  margin-bottom: 20px;
}

button {
  width: 50%;
  justify-self: center;
  height: 60px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  background-color: #ffffff;
  color: #A63A50;
  box-shadow: -6px 7px 8px 2px;
  cursor: pointer;
}

button:active {
  transform: scale(0.94);
}